<!doctype html>
<HTML>
<h2>ImageOFTheDay</h2>
<head>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>
</head>
<body>
<title>ImageOfTheDay</title>
<form action="/image/" method="POST" enctype="multipart/form-data"accept-charset="utf-8">
<br>Image:<input name="imageName" type="file"></br>
<br>Date:<input name="date" type="text" id="datepicker"></br>
<br>Title:<input name="title" type="text"></br>
<br>subTitle:<input name="subTitle" type="text"></br>
<br>Decription:<input name="desc" type="text"></br>
<br><button type="submit">SUBMIT</button></br>
</form>
</body>
</HTML>